# 변수와 자료형 
## 변수 
계산에 필요한 자료를 일시적으로 저장하거나 처리결과를 담을 수 있는 기억장소를 지정해 주는 역할.
변수 이름은 값을 지정하는 메모리 영역의 이름으로 할당. 

## 변수 이름의 작성 규칙 
- 첫자는 영문으로 시작. 
- 첫자를 제외하고 숫자,under bar, dot를 사용할 수 있음 
- 대문자와 소문자를 구분. 
- 변수 이름은 의미를 파악할 수 있는 이름으로 저장하는 것이 좋다. 
- 두 단어를 포함한 변수이름을 지정할 경우 두번째 단어의 첫자는 대문자로 표시(Camel)하거나 under bar로 표시하는 것이 가독성이 좋다

# 자료형

## 숫자 자료형

In [1]:
# 정수형 
var01 = 123 
var01 = -17
var01 = 0

var01

0

In [3]:
# 실수형 
var02 = 1.2 
var02 = -12.34

var02

-12.34

In [7]:
# 연산자 
var01 = 3 
var02 = 4 
print('덧셈 :', var01 + var02)
print('뺼셈 :', var01 - var02)
print('곱셈 :', var01 * var02)
print('나눗셈 :', var01 / var02)
print('정수 나눗셈 몫 :', var01 // var02)
print('정수 나눗셈 나머지 :', var01 % var02)
print('제곱 :', var01 ** 2)

덧셈 : 7
뺼셈 : -1
곱셈 : 12
나눗셈 : 0.75
정수 나눗셈 몫 : 0
정수 나눗셈 나머지 : 3
제곱 : 9

In [12]:
# 거듭제곱
print('거듭제곱 :', pow((var01),2))

거듭제곱 : 9

# 파이썬 모듈을 이용한 수학계산

In [13]:
# 수학 계산 모듈 불러오기 
import math

In [14]:
# 거듭제곱 
math.pow(var01,2)

9.0

In [15]:
# 제곱근 
math.sqrt(var01)

1.7320508075688772

In [16]:
# sin45 
math.sin(45)

0.8509035245341184

In [17]:
math.pow(math.sin(45),2)+ math.pow(math.cos(45),2)

1.0

## 난수 발생

In [18]:
import random

In [19]:
# 1~100개 난수(정수) 발생 
random.randint(1,100)

58

In [27]:
# 로또 난수 발생 
lotto_list = range(1,46)
random.sample(lotto_list,6) # 중복 안되면서 숫자 추출

[41, 15, 11, 36, 44, 40]

# 반올림 
> round는 좀 더 가까운 짝수 값으로 올림 연산을 한다(정수만 사용하는 경우)

In [29]:
round(2.5)

2

# 올림과 내림

In [32]:
# 올림 
math.ceil(1.9)
math.ceil(1.1)

2

In [33]:
# 내림
math.floor(1.6)
math.floor(1.3)

1

# 메모리에 있는 변수 보기

In [37]:
# 메모리에 있는 변수 제거 
del var01

## 관계 연산자

In [40]:
#부정 연산자 
num1 = 50 
not(num1 >=50)

False

In [41]:
# 자료 확인 ()
!ls

01. Preview.ipynb              02. 변수와 자료형 .ipynb

# 문자열 자료형

In [44]:
# 여러줄의 문자열 출력 (""" 이 사이에 문자만 넣어야 된다 """)
var01 = """
    Hello world! 
      Good to meet you!
"""
print(var01)

    Hello world!
      Good to meet you!

In [45]:
# 쌍따옴표와 홑따옴표 
var01 = "My Father's wife is my mother"
var01

"My Father's wife is my mother"

In [47]:
var02 = 'He says "I love you."'
print(var02)

He says "I love you."

In [50]:
# 문자열 덧셈 
var01 = 'Python'
var02 = 'is fun.'
print(var01 + var02)
print(var01,var02)

Pythonis fun.
Python is fun.

In [51]:
# 문자열 곱셈 
print(var01 * 3)

PythonPythonPython

# 문자열 indexing과 Slicing

In [57]:
str="abcdefghigklmn"
print(str[0])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])

a
abc
n
fghigklmn
abcde

In [58]:
str = "201211230Snow"
year = str[0:4]
day = str[7:8]
weather = str[9:]
print(year, day, weather)

2012 3 Snow

In [73]:
str ='abde'
a = str[0:2]
b = 'cd'
c = str[2:4]
str1 = a+b+c
print(str1)

abcdde

# 문자열 fomatting

In [75]:
# 정수형 = %d
print('I hava %d apples.'% 2)

I hava 2 apples.

In [76]:
# 문자열 = %s
print('I have %s apples'% 'two')

I have two apples

In [78]:
# 혼합형
number = 2 
fruit = "apples"
print("I have %d %s" %(number, fruit))

I have 2 apples

In [81]:
# 문자열 정렬 
print("I have 2 %10s" %fruit)
print("I have 2 %-10s" %fruit)

I have 2     apples
I have 2 apples

In [85]:
# %f 실수형 
print("%10.4f" %2.344433)
print("%0.4f" %2.344433)

    2.3444
2.3444

# 문자열 관련 함수

In [89]:
str = 'I have a dream.'
print(str.count('a')) # str에 count하고자 하는 문자열을 기입 
print(len(str))

3
15

In [91]:
# 문자 위치 알려주기 
print(str.find('e'))
print(str.find('x')) # -1: 해당 글자 없음

5
-1

In [92]:
# 문자열 삽입 
str = ','
str.join('abcdefg')

'a,b,c,d,e,f,g'

In [93]:
# 대문자를 소문자로 바꾸기 
str = 'HI'
str.lower()

'hi'

In [94]:
# 왼쪽 공백 지우기 
str = '            HI'
str.lstrip()

'HI'

In [95]:
# 오른쪽 공백 지우기 
str = 'HI          '
str.rstrip()

'HI'

In [97]:
# 양쪽 공백 지우기 
str = '            HI         '
str.strip()

'HI'

In [98]:
# 문자열 바꾸기 
str = "Life is too short to be happy"
str.replace('happy', 'unhappy')

'Life is too short to be unhappy'

In [101]:
# 문자열 나누기 
str = "Life is too short to be happy"
list01 = str.split() # 공백을 기준으로 나눔
type(list01)
print(list01)

['Life', 'is', 'too', 'short', 'to', 'be', 'happy']

In [104]:
str = "a:b:c:d"
print(str.split(":"))

['a', 'b', 'c', 'd']

# 고급 문자열 fomatting

In [108]:
# 숫자 바로 대입하기 
"I have {0} apples.".format(3) # 0은 시작점

'I have 3 apples.'

In [109]:
# 문자열 바로 대입하기 
"I have {0} apples.".format('two') # 0은 시작점

'I have two apples.'

In [111]:
# 변수 바로 대입하기 
number = 3
"I have {0} apples.".format(number) # 0은 시작점

'I have 3 apples.'

In [112]:
# 2개 이상의 값 바로 대입하기 
number = 10; 
day = "three"
"I have {0} apples, I wil go aboard for {1} days".format(number, day) # 0은 시작점

'I have 10 apples, I wil go aboard for three days'

In [113]:
# 왼쪽 정렬 
'{0:<10}'.format('Hi') # 문자열을 왼쪽으로 정렬, 문자열의 총자리수는 10자리

'Hi        '

In [114]:
# 오른쪽 정렬 
'{0:>10}'.format('Hi') # 문자열을 오른쪽으로 정렬, 문자열의 총자리수는 10자리

'        Hi'

In [119]:
# 가운데 정렬 
'{0:^10}'.format('Hi') # 문자열을 왼쪽으로 정렬, 문자열의 총자리수는 10자리

'    Hi    '

In [122]:
# 공백 채우기 
print('{0:=^10}'.format('Hi'))

====Hi====

In [123]:
print('{0:!<10}'.format('Hi'))

Hi!!!!!!!!

In [127]:
# 소수점 표현하기 
y = 3.141592
print('{0:0.2f}'.format(y))
print('{0:10.2f}'.format(y))

3.14
      3.14

In [128]:
# command 명령어
!Python --version

Python 3.8.2

In [129]:
# f 문자열 formatting (python 3.6이상)
name = '홍길동'
age = 30

# f는 띄어쓰면 안된다.
f'나의 이름은 {name}이고 나이는 {age}입니다.'

'나의 이름은 홍길동이고 나이는 30입니다.'

In [130]:
f'새롬양은 내년이면 {age+1}살 입니다.'

'새롬양은 내년이면 31살 입니다.'

# 날짜형 변환

In [131]:
from datetime import datetime, timedelta # from 패키지 import 모듈

In [132]:
time1 = datetime(2021,12,25,21,0,0,0) # 년 월 일 시 분 초 밀리 초

In [133]:
print(time1)

2021-12-25 21:00:00

In [134]:
type(time1)

datetime.datetime

In [135]:
time2 = datetime.now()

In [144]:
print(time2)
print(time1 - time2)
print((time1 - time2).days,'일')
print((time1 - time2).seconds,'초')

2021-12-15 14:07:32.977292
10 days, 6:52:27.022708
10 일
24747 초

In [145]:
# 특정 날짜로부터 시간 계산 
print('현재 시간부터 5일 뒤', time2 + timedelta(days=5))

현재 시간부터 5일 뒤 2021-12-20 14:07:32.977292

In [147]:
# 특정 날짜로부터 시간 계산 
print('현재 시간부터 3일 전', time2 - timedelta(days=3))

현재 시간부터 3일 전 2021-12-12 14:07:32.977292

In [150]:
# 특정 날짜로부터 시간 계산 
print('현재 시간부터 1일 뒤 2시간 전', time2 + timedelta(days=1, hours=-2))

현재 시간부터 1일 뒤 2시간 전 2021-12-16 12:07:32.977292