# range 함수 
: range(시작숫자, 끝숫자, 증가값) -> 시작 숫자부터 끝 숫자 전까지 범위를 출력

In [1]:
var = range(1,11)
list(var)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 0~10까지의 짝수
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [5]:
list(range(10,1,-2))

[10, 8, 6, 4, 2]

# for문 
: for in 리스트, 튜플, 문자열 / range(,,)

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
# 1에 10까지의 제곱근은 출력하기 
import math

In [11]:
for i in range(1,11):
    print(math.sqrt(i))

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795

In [14]:
total_1 = 0
total_2 = 0
for i in range(1,1000):
    if(i % 2 == 0):
        total_1 += i
    else:
        total_2 += i
print(total_1 - total_2)

-500

In [15]:
print(2, end="*")
print(3)
print(2,3,end="")

2*3
2 3

In [29]:
for i in range(1,9):
    print('\n')
    i += 1
    for j in range(1,10):
        print(i*j, end=" ")
        j += 1

2 4 6 8 10 12 14 16 18

3 6 9 12 15 18 21 24 27

4 8 12 16 20 24 28 32 36

5 10 15 20 25 30 35 40 45

6 12 18 24 30 36 42 48 54

7 14 21 28 35 42 49 56 63

8 16 24 32 40 48 56 64 72

9 18 27 36 45 54 63 72 81

# for문에 Tuple 사용하기

In [30]:
# list에 Tuple을 사용한 경우
var = [(1,2),(3,4),(5,6)]
for first, last in var: 
    print(first,":",last)

1 : 2
3 : 4
5 : 6

In [48]:
scores = [90,25,67,45,80]
average = 0 
result = ""
average = np.average(scores)
print('학급의 평균 점수는 %f 입니다.'%average)

for i in range(0,5):

    if(scores[i]<average):
        result = '불합격'
        print('%d의 학생은 점수가 %d이므로 %s입니다.'%(i+1,scores[i], result))
    else: 
        result = '합격'
        print('%d의 학생은 점수가 %d이므로 %s입니다.'%(i+1,scores[i], result))

학급의 평균 점수는 61.400000 입니다.
1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이므로 불합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이므로 불합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

In [40]:
np.average(scores)

61.4

# 파이썬의 listed for문

In [49]:
var01 = [1,2,3,4]
var02 = [i*5 for i in var01]
var02

[5, 10, 15, 20]

In [51]:
var02 = [i*5 for i in var01 if i%2 == 0 ]
var02

[10, 20]

In [74]:
scores = [90,25,67,45,80]
var02 = [i for i in scores if i >= 60]
print("합격한 학생들의 평균 점수는 %.2f입니다."%var02)

TypeError: must be real number, not list

In [65]:
for i in scores:
    print(i)

90
25
67
45
80