In [1]:
#!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 4.9 MB/s  eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
import pymysql

In [3]:
# mysql connection
conn = pymysql.connect(host='127.0.0.1',user='root',password='qwer1234',db='nbio',charset='utf8')

In [4]:
# connection으로 부터 cursor 생성
curs = conn.cursor()

In [6]:
# SQL
sql = 'select * from product'
curs.execute(sql)

37

In [7]:
# connection 종료
conn.close()

In [ ]:
# list 로 변환
rowlist = list(rows)
print(rowlist)

In [ ]:
# 필요한 부분 데이터 가져오기
print(rowlist[0])

---
# insert data #1 일단 데이터 베이스에 없어서 오류 엄청남

In [8]:
# commection
conn = pymysql.connect(host='127.0.0.1',user='root',password='qwer1234',db='nbio',charset='utf8')

In [9]:
# cursor
curs = conn.cursor()

In [10]:
# sql 문장
sql = 'insert into student(scode,sname,sdept,sphone,saddress) values (%s,%s,%s,%s,%s)'

In [11]:
# insert 실행
curs.execute(sql,('r001','aaa','국문학과','010-111','서울'))
curs.execute(sql,('r002','bbb','국문학과','010-111','서울'))
curs.execute(sql,('r003','aaa','국문학과','010-111','서울'))

ProgrammingError: (1146, "Table 'nbio.student' doesn't exist")

In [12]:
conn.commit()

In [13]:
# connection 종료
conn.close()

# insert Data # 2

In [14]:
# commection
conn = pymysql.connect(host='127.0.0.1',user='root',password='qwer1234',db='nbio',charset='utf8')
# cursor
curs = conn.cursor()

In [16]:
# Data
data = (
    ('ry01','A','심리학과','010-222','경기'),
    ('ry02','B','심리학과','010-222','경기'),
    ('ry03','C','심리학과','010-222','경기')
)

In [17]:
# sql 문장
sql = 'insert into student(scode,sname,sdept,sphone,saddress) values (%s,%s,%s,%s,%s)'

In [18]:
# insert
curs.executemany(sql,data)

ProgrammingError: (1146, "Table 'nbio.student' doesn't exist")

In [19]:
conn.commit()

In [ ]:
rows = curs.fetchall()
print(rows)

In [20]:
# connection 종료
conn.close()

# UPDATE

In [21]:
# commection
conn = pymysql.connect(host='127.0.0.1',user='root',password='qwer1234',db='nbio',charset='utf8')
# cursor
curs = conn.cursor()

In [22]:
# SQL
sql = "update student set saddress='인천' where scode = 'z001'"
curs.execute(sql)
conn.commit()

ProgrammingError: (1146, "Table 'nbio.student' doesn't exist")

In [23]:
# select 
sql = 'select * from student'
curs.execute(sql)
rows = curs.fetchall()
print(rows)

ProgrammingError: (1146, "Table 'nbio.student' doesn't exist")

In [24]:
conn.close()

# DELETE

In [26]:
# commection
conn = pymysql.connect(host='127.0.0.1',user='root',password='qwer1234',db='nbio',charset='utf8')
# cursor
curs = conn.cursor()

# SQL
sql = "delete from student where scode =%s"
curs.execute(sql,'z001')
conn.commit()

# select 
sql = 'select * from student'
curs.execute(sql)
rows = curs.fetchall()
print(rows)

conn.close()

ProgrammingError: (1146, "Table 'nbio.student' doesn't exist")

# insert 후 select 하기

In [27]:
# commection
conn = pymysql.connect(host='127.0.0.1',user='root',password='qwer1234',db='nbio',charset='utf8')
# cursor
curs = conn.cursor()

In [ ]:
try:
    #insert
    with conn.cursor() as curs:
        sql = "insert into student(scode,sname,sdept,sphone,saddress) values(%s,%s,%s,%s,%s)"
        curs.execute(sql,('z999','홍길동','심리학과','010-999','제주'))
    conn.commit()
    # select
    with conn.cursor() as curs:
        sql = "select * from student"
        curs.execute(sql)
        rs = curs.fetchall()
        for row in rs:
            print(row)
finally:
    conn.close()

In [28]:
# select 의 내용을 dataframe으로 보기
#!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in d:\anaconda\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in d:\anaconda\lib\site-packages (from sqlalchemy) (1.0.0)

In [29]:
import pandas as pd
from sqlalchemy import create_engine

In [31]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/nbio?",convert_unicode=True)
conn = engine.connect()

In [33]:
data = pd.read_sql_table('product',conn)
data

,pCode,pName,brand,pQuan,pPrice,pImg,pDate,nut,hT,dis,pInfo
0,p001,웰우먼 오리지널,웰우먼,97,12000,./images/wellwoman/wworiginal.png,2021-01-05,멀티비타민,여성,임신전,./images/textimg/nutwworiginal.png
1,p002,웰우먼 플러스 오메가3,웰우먼,93,20000,./images/wellwoman/wwplusomega.png,2021-01-05,오메가3,여성,갱년기,./images/textimg/nutwwomega3.png
2,p003,웰우먼 맥스,웰우먼,99,28000,./images/wellwoman/wwmax.png,2021-01-05,멀티비타민,여성,갱년기,./images/textimg/nutwwmax.png
3,p004,웰우먼 구미,웰우먼,97,22000,./images/wellwoman/wwgummies.png,2021-01-05,멀티비타민,여성,갱년기,None
4,p005,웰우먼 50+,웰우먼,100,14000,./images/wellwoman/ww50.png,2021-01-05,멀티비타민,노인,심혈관,./images/textimg/nutww50+.png
5,p006,웰우먼 70+,웰우먼,100,14000,./images/wellwoman/ww70.png,2021-01-05,멀티비타민,노인,"장,소화",./images/textimg/nutww70+.png
6,p007,웰우먼 스포츠,웰우먼,99,14000,./images/wellwoman/wwsport.png,2021-01-05,멀티비타민,여성,멀티비타민,./images/textimg/nutwwsport.png
7,p008,웰우먼 에너지,웰우먼,90,9000,./images/wellwoman/wwenergy.png,2021-01-05,멀티비타민,여성,멀티비타민,./images/textimg/nutwwenergy.png
8,p009,웰맨 오리지널,웰맨,90,12000,./images/wollman/wmoriginal.png,2021-01-05,멀티비타민,남성,멀티비타민,./images/textimg/nutwmoriginal.png
9,p010,웰맨 플러스 오메가3,웰맨,97,20000,./images/wollman/wmplus.png,2021-01-05,오메가3,남성,멀티비타민,./images/textimg/nutwmomega3.png
10,p011,웰맨 맥스,웰맨,100,28000,./images/wollman/wmmax.png,2021-01-05,멀티비타민,남성,멀티비타민,./images/textimg/nutwmmax.png
11,p012,웰맨 구미,웰맨,99,22000,./images/wollman/wmgummies.png,2021-01-05,멀티비타민,남성,멀티비타민,None
12,p013,웰맨 50+,웰맨,99,14000,./images/wollman/wm50.png,2021-01-05,멀티비타민,노인,멀티비타민,./images/textimg/nutwm50+.png
13,p014,웰맨 70+,웰맨,100,14000,./images/wollman/wm70.png,2021-01-05,멀티비타민,노인,관절,./images/textimg/nutwm70+.png
14,p015,웰맨 스포츠,웰맨,100,14000,./images/wollman/wmsport.png,2021-01-05,멀티비타민,남성,뼈 건강,./images/textimg/nutwmsport.png
15,p016,웰맨 에너지,웰맨,100,9000,./images/wollman/wmenergy.png,2021-01-05,멀티비타민,남성,눈 건강,./images/textimg/nutwmenergy.png
16,p017,웰키드 멀티비타민,웰키드,100,14000,./images/wellkid/wkvitamin.png,2021-01-05,멀티비타민,유아,눈 건강,./images/textimg/nutwkmultivita.png
17,p018,웰키드 면역(immune),웰키드,97,14000,./images/wellkid/wkimmune.png,2021-01-05,멀티비타민,유아,멀티비타민,./images/textimg/nutwkimmune.png
18,p019,웰키드 오메가3,웰키드,100,14000,./images/wellkid/wkomega3.png,2021-01-05,오메가3,유아,눈 건강,./images/textimg/nutwkomega3.png
19,p020,프레그너케어 컨셉션,프레그너케어,100,28000,./images/pregnacare/pgconception.png,2021-01-05,비타민D,여성,임신전,./images/textimg/nutpgcon.PNG
20,p021,프레그너케어 맥스,프레그너케어,100,28000,./images/pregnacare/pgmax.png,2021-01-05,비타민D,여성,임신중,./images/textimg/nutpgma.png
21,p022,프레그너케어 플러스,프레그너케어,99,24000,./images/pregnacare/pgplus.png,2021-01-05,비타민D,여성,출산후,./images/textimg/nutpgplus.png
22,p023,프레그너케어 뉴맘,프레그너케어,99,35000,./images/pregnacare/pgnewmom.png,2021-01-05,비타민D,여성,임신전,./images/textimg/nutpgnewmom.png
23,p024,조인테이스 맥스,비타바이오틱스,95,18000,./images/jointace/jtmax.png,2021-01-05,비타민D,여성,뼈 건강,./images/textimg/nutjtmax.png
24,p025,조인테이스 스포츠,비타바이오틱스,100,22000,./images/jointace/jtsport.png,2021-01-05,비타민D,여성,뼈 건강,./images/textimg/nutjtsports.png
25,p026,카디오에이스 오리지널,카디오에이스,98,14000,./images/cardioace/cooriginal.png,2021-01-05,에너지,여성,심혈관,./images/textimg/nutcaoriginal.png
26,p027,카디오에이스 플러스,카디오에이스,100,26000,./images/cardioace/coplus.png,2021-01-05,에너지,여성,심혈관,./images/textimg/nutcaplus.png
27,p028,카디오에이스 맥스,카디오에이스,100,35000,./images/cardioace/comax.png,2021-01-05,에너지,여성,심혈관,./images/textimg/nutcamax.png
28,p029,웰바이오 라이브 컬쳐 엑스트라,웰바이오,100,30000,./images/digestive/wblc.png,2021-01-05,에너지,여성,"장,소화",./images/textimg/nutwblcex.png
29,p030,웰자임 다이제스티브,웰자임,97,26000,./images/digestive/wzde.png,2021-01-05,에너지,여성,"장,소화",./images/textimg/nutwzdigestive.png
30,p031,디아비톤 플러스,디아비톤,100,20000,./images/digestive/dtp.png,2021-01-05,에너지,남성,"장,소화",./images/textimg/nutdtplus.png
31,p032,메노페이스 맥스,메노페이스,100,30000,./images/menopace/mnpmax.png,2021-01-05,에너지,남성,심혈관,./images/textimg/nutmpmax.png
32,p033,오스테오케어 오리지널,오스테오케어,99,11000,./images/osteocare/ostplus.png,2021-01-05,에너지,남성,뼈 건강,./images/textimg/nutotoriginal.png
33,p034,오스테오케어 플러스,오스테오케어,100,18000,./images/osteocare/ostoriginal.png,2021-01-05,에너지,남성,뼈 건강,./images/textimg/nutotplus.png
34,p035,비젼에이스 오리지널,비젼에이스,96,11000,./images/visionace/vsoriginal.png,2021-01-05,에너지,남성,눈 건강,./images/textimg/nutvsoriginal.png
35,p036,비젼에이스 플러스,비젼에이스,100,18000,./images/visionace/vsplus.png,2021-01-05,에너지,남성,갱년기,./images/textimg/nutvsplus.png
36,p037,비젼에이스 맥스,비젼에이스,100,26000,./images/visionace/vsmax.png,2021-01-05,에너지,남성,None,./images/textimg/visionacemax.png

# dataframe을 database 로 insert 하기

In [38]:
column = ['rank',"title"]
movies = pd.read_csv("./Data/DaumList.csv")
movies.columns = column
movies.head()

   rank          title
0     1  스파이더맨: 노 웨이 홈
1     2      연애 빠진 로맨스
2     3    엔칸토: 마법의 세계
3     4          유체이탈자
4     5          돈 룩 업

In [39]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/education?",convert_unicode=True)
conn = engine.connect()

In [40]:
# dataframe --> table
movies.to_sql(name='daumlist',con=engine,if_exists='append',index=False)

In [41]:
data = pd.read_sql_table('daumlist',conn)
data

    seq rank                               title
0     1    1                       스파이더맨: 노 웨이 홈
1     2    2                           연애 빠진 로맨스
2     3    3                         엔칸토: 마법의 세계
3     4    4                               유체이탈자
4     5    5                               돈 룩 업
5     6    6                                   듄
6     7    7  극장판 소드 아트 온라인 -프로그레시브- 별 없는 밤의 아리아
7     8    8                                킹메이커
8     9    9                                 태일이
9    10   10                       몬스타엑스 : 더 드리밍
10   11   11                                아멜리에
11   12   12                뱅드림! 필름 라이브 세컨드 스테이지
12   13   13                                이터널스
13   14   14                            프렌치 디스패치
14   15   15                         고스트버스터즈 라이즈

---

# 기상청
http://www.weather.go.kr/weather/forecast/mid-term-rss3.jsp?stnid=108

In [51]:
import urllib.request
import urllib.parse
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np # Genre가 Error로 발생한 부분을 NaN으로 처리
import time

In [52]:
url = "http://www.weather.go.kr/weather/forecast/mid-term-rss3.jsp?stnid=108"
page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')

In [ ]:
#folder32 > div:nth-child(1) > span.html-tag

In [58]:
soup.select("span")

[]

In [65]:
import urllib.request
import urllib.parse

API = "http://www.weather.go.kr/weather/forecast/mid-term-rss3.jsp"

# 매개변수를 URL 인코딩
values = {'stdId':'108'}
params = urllib.parse.urlencode(values)

#print(params)

# 요청 전용 URL 생성
url = API + "?" + params

# print(url)
data = urllib.request.urlopen(url).read()
#print(data)

# decoding하여 글자 확인
text = data.decode('utf-8')

# BeautifulSoup로 분석
soup = BeautifulSoup(text,"html.parser")
#print(soup)(

# 원하는 데이터 추출하기
city=soup.body.location.city
tmef=soup.body.location.data.tmef
wf=soup.body.location.data.wf
tmn=soup.body.location.data.tmn
tmx=soup.body.location.data.tmx
print(city)
print(tmef)
print(wf)
print(tmn)
print(tmx)
list_wfs = list(wf)

<city>서울</city>
<tmef>2021-12-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>-1</tmn>
<tmx>4</tmx>

In [97]:
soup.select('city')[0].string

'인천'

In [78]:
soup.select('body > location tmef')[0].string

'2021-12-24 00:00'

In [79]:
soup.select('body > location wf')[0].string

'구름많음'

In [82]:
soup.select('body > location tmn')[0].string

'-1'

In [83]:
soup.select('body > location tmx')[0].string

'4'

In [84]:
# City

cityLists = []
li_citys = soup.select('body > location city')

for li in li_citys:
    cityLists.append(li.string.strip())
    
print(cityLists)

['서울', '인천', '수원', '파주', '이천', '평택', '춘천', '원주', '강릉', '대전', '세종', '홍성', '청주', '충주', '영동', '광주', '목포', '여수', '순천', '광양', '나주', '전주', '군산', '정읍', '남원', '고창', '무주', '부산', '울산', '창원', '진주', '거창', '통영', '대구', '안동', '포항', '경주', '울진', '울릉도', '제주', '서귀포']

In [102]:
count = 0
cityLists = []
li_tmefs = soup.select('body > location tmef')
for li2 in li_tmefs:
    cityLists.append(soup.select('body > location city')[count].string.strip())
    #tmefLists.append(li2.string.strip())
    if li2.string.strip() =='2021-12-31 00:00':
        count +=1
print(cityLists)

['서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '수원', '수원', '수원', '수원', '수원', '수원', '수원', '수원', '수원', '수원', '수원', '수원', '수원', '파주', '파주', '파주', '파주', '파주', '파주', '파주', '파주', '파주', '파주', '파주', '파주', '파주', '이천', '이천', '이천', '이천', '이천', '이천', '이천', '이천', '이천', '이천', '이천', '이천', '이천', '평택', '평택', '평택', '평택', '평택', '평택', '평택', '평택', '평택', '평택', '평택', '평택', '평택', '춘천', '춘천', '춘천', '춘천', '춘천', '춘천', '춘천', '춘천', '춘천', '춘천', '춘천', '춘천', '춘천', '원주', '원주', '원주', '원주', '원주', '원주', '원주', '원주', '원주', '원주', '원주', '원주', '원주', '강릉', '강릉', '강릉', '강릉', '강릉', '강릉', '강릉', '강릉', '강릉', '강릉', '강릉', '강릉', '강릉', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '홍성', '홍성', '홍성', '홍성', '홍성', '홍성', '홍성', '홍성', '홍성', '홍성', '홍성', '홍성', '홍성', '청주', '청주', '청주', '청주', '청주', '청주', '청주', '청주', '청주', '청주', '청주', '청주', '청주', '충주', '충주', '충주', '충주', '충주', '충주', '충주', '충주', '충주', '충주', '충주', '충주', '충주', '영동', '영동', '영동', '영동', '영동', '영동', '영동', '영동', '영동', '영동', '영동', '영동', '영동', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '목포', '목포', '목포', '목포', '목포', '목포', '목포', '목포', '목포', '목포', '목포', '목포', '목포', '여수', '여수', '여수', '여수', '여수', '여수', '여수', '여수', '여수', '여수', '여수', '여수', '여수', '순천', '순천', '순천', '순천', '순천', '순천', '순천', '순천', '순천', '순천', '순천', '순천', '순천', '광양', '광양', '광양', '광양', '광양', '광양', '광양', '광양', '광양', '광양', '광양', '광양', '광양', '나주', '나주', '나주', '나주', '나주', '나주', '나주', '나주', '나주', '나주', '나주', '나주', '나주', '전주', '전주', '전주', '전주', '전주', '전주', '전주', '전주', '전주', '전주', '전주', '전주', '전주', '군산', '군산', '군산', '군산', '군산', '군산', '군산', '군산', '군산', '군산', '군산', '군산', '군산', '정읍', '정읍', '정읍', '정읍', '정읍', '정읍', '정읍', '정읍', '정읍', '정읍', '정읍', '정읍', '정읍', '남원', '남원', '남원', '남원', '남원', '남원', '남원', '남원', '남원', '남원', '남원', '남원', '남원', '고창', '고창', '고창', '고창', '고창', '고창', '고창', '고창', '고창', '고창', '고창', '고창', '고창', '무주', '무주', '무주', '무주', '무주', '무주', '무주', '무주', '무주', '무주', '무주', '무주', '무주', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '창원', '창원', '창원', '창원', '창원', '창원', '창원', '창원', '창원', '창원', '창원', '창원', '창원', '진주', '진주', '진주', '진주', '진주', '진주', '진주', '진주', '진주', '진주', '진주', '진주', '진주', '거창', '거창', '거창', '거창', '거창', '거창', '거창', '거창', '거창', '거창', '거창', '거창', '거창', '통영', '통영', '통영', '통영', '통영', '통영', '통영', '통영', '통영', '통영', '통영', '통영', '통영', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '안동', '안동', '안동', '안동', '안동', '안동', '안동', '안동', '안동', '안동', '안동', '안동', '안동', '포항', '포항', '포항', '포항', '포항', '포항', '포항', '포항', '포항', '포항', '포항', '포항', '포항', '경주', '경주', '경주', '경주', '경주', '경주', '경주', '경주', '경주', '경주', '경주', '경주', '경주', '울진', '울진', '울진', '울진', '울진', '울진', '울진', '울진', '울진', '울진', '울진', '울진', '울진', '울릉도', '울릉도', '울릉도', '울릉도', '울릉도', '울릉도', '울릉도', '울릉도', '울릉도', '울릉도', '울릉도', '울릉도', '울릉도', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '서귀포', '서귀포', '서귀포', '서귀포', '서귀포', '서귀포', '서귀포', '서귀포', '서귀포', '서귀포', '서귀포', '서귀포', '서귀포']

In [105]:
# tmef

tmefLists = []
li_tmefs = soup.select('body > location tmef')

for li in li_tmefs:
    tmefLists.append(li.string.strip())
    
print(tmefLists)

['2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00', '2021-12-24 00:00', '2021-12-24 12:00', '2021-12-25 00:00', '2021-12-25 12:00', '2021-12-26 00:00', '2021-12-26 12:00', '2021-12-27 00:00', '2021-12-27 12:00', '2021-12-28 00:00', '2021-12-28 12:00', '2021-12-29 00:00', '2021-12-30 00:00', '2021-12-31 00:00']

In [86]:
# wf

wfLists = []
li_wfs = soup.select('body > location wf')

for li in li_wfs:
    wfLists.append(li.string.strip())
    
print(wfLists)

['구름많음', '흐림', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '흐림', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '흐림', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '흐림', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '흐림', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '흐림', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '흐림', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '흐림', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '흐림', '흐리고 눈', '흐리고 눈', '구름많고 눈', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '흐림', '구름많음', '구름많음', '흐림', '흐리고 눈', '흐리고 눈', '흐리고 눈', '흐림', '흐림', '구름많음', '구름많음', '구름많음', '구름많음', '흐림', '구름많음', '구름많음', '흐림', '흐리고 눈', '흐리고 눈', '흐리고 눈', '흐림', '흐림', '구름많음', '구름많음', '구름많음', '구름많음', '흐림', '구름많음', '구름많음', '흐림', '흐리고 눈', '흐리고 눈', '흐리고 눈', '흐림', '흐림', '구름많음', '구름많음', '구름많음', '구름많음', '흐림', '구름많음', '구름많음', '흐림', '흐리고 눈', '흐리고 눈', '흐리고 눈', '흐림', '흐림', '구름많음', '구름많음', '구름많음', '구름많음', '흐림', '구름많음', '구름많음', '흐림', '흐리고 눈', '흐리고 눈', '흐리고 눈', '흐림', '흐림', '구름많음', '구름많음', '구름많음', '구름많음', '흐림', '구름많음', '구름많음', '흐림', '흐리고 눈', '흐리고 눈', '흐리고 눈', '흐림', '흐림', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '흐리고 눈', '흐리고 눈', '흐리고 눈', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '흐리고 눈', '흐리고 눈', '흐리고 눈', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '흐리고 눈', '흐리고 눈', '흐리고 눈', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '흐리고 눈', '흐리고 눈', '흐리고 눈', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '흐리고 눈', '흐리고 눈', '흐리고 눈', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '흐리고 눈', '흐리고 눈', '흐리고 눈', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '구름많음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '맑음', '구름많음', '흐리고 비', '흐리고 비/눈', '흐리고 눈', '흐리고 눈', '흐리고 눈', '흐리고 눈', '흐리고 비/눈', '흐림', '흐림', '흐림', '구름많음', '흐림', '구름많음', '흐리고 비', '흐리고 비/눈', '흐리고 눈', '흐리고 눈', '흐리고 눈', '흐리고 눈', '흐리고 비/눈', '흐림', '흐림', '흐림', '구름많음', '흐림']

In [87]:
# tmn

tmnLists = []
li_tmns = soup.select('body > location tmn')

for li in li_tmns:
    tmnLists.append(li.string.strip())
    
print(tmnLists)

['-1', '-1', '-9', '-9', '-13', '-13', '-11', '-11', '-7', '-7', '-5', '-4', '-4', '0', '0', '-9', '-9', '-13', '-13', '-9', '-9', '-5', '-5', '-4', '-3', '-3', '-1', '-1', '-9', '-9', '-12', '-12', '-10', '-10', '-7', '-7', '-4', '-4', '-4', '-2', '-2', '-11', '-11', '-16', '-16', '-14', '-14', '-11', '-11', '-8', '-8', '-7', '-4', '-4', '-9', '-9', '-14', '-14', '-11', '-11', '-10', '-10', '-7', '-7', '-6', '-2', '-2', '-9', '-9', '-12', '-12', '-10', '-10', '-8', '-8', '-4', '-4', '-4', '-3', '-3', '-9', '-9', '-15', '-15', '-14', '-14', '-11', '-11', '-8', '-7', '-7', '-2', '-2', '-8', '-8', '-13', '-13', '-12', '-12', '-10', '-10', '-7', '-6', '-6', '3', '3', '-1', '-1', '-9', '-9', '-7', '-7', '-4', '-4', '-1', '0', '-3', '-1', '-1', '-7', '-7', '-11', '-11', '-10', '-10', '-7', '-7', '-5', '-4', '-3', '-2', '-2', '-9', '-9', '-12', '-12', '-11', '-11', '-7', '-7', '-6', '-5', '-4', '-2', '-2', '-9', '-9', '-11', '-11', '-11', '-11', '-7', '-7', '-6', '-5', '-4', '-1', '-1', '-7', '-7', '-11', '-11', '-9', '-9', '-7', '-7', '-3', '-2', '-3', '-3', '-3', '-9', '-9', '-14', '-14', '-12', '-12', '-9', '-9', '-5', '-4', '-5', '-3', '-3', '-9', '-9', '-14', '-14', '-12', '-12', '-8', '-8', '-4', '-3', '-5', '0', '0', '-3', '-3', '-7', '-7', '-5', '-5', '-3', '-3', '-2', '-1', '-1', '2', '2', '-1', '-1', '-5', '-5', '-3', '-3', '0', '0', '1', '2', '1', '4', '4', '-1', '-1', '-5', '-5', '-3', '-3', '-1', '-1', '2', '3', '1', '1', '1', '-4', '-4', '-7', '-7', '-6', '-6', '-4', '-4', '-1', '1', '-1', '2', '2', '-3', '-3', '-6', '-6', '-4', '-4', '-3', '-3', '0', '2', '0', '-2', '-2', '-4', '-4', '-7', '-7', '-7', '-7', '-5', '-5', '-3', '-1', '-3', '-1', '-1', '-4', '-4', '-8', '-8', '-8', '-8', '-5', '-5', '-4', '-3', '-2', '-1', '-1', '-5', '-5', '-8', '-8', '-8', '-8', '-6', '-6', '-5', '-4', '-2', '-2', '-2', '-5', '-5', '-9', '-9', '-7', '-7', '-5', '-5', '-5', '-3', '-3', '-2', '-2', '-6', '-6', '-10', '-10', '-8', '-8', '-6', '-6', '-5', '-3', '-3', '-1', '-1', '-3', '-3', '-8', '-8', '-6', '-6', '-5', '-5', '-4', '-2', '-1', '-3', '-3', '-8', '-8', '-13', '-13', '-12', '-12', '-8', '-8', '-6', '-5', '-5', '6', '6', '-2', '-2', '-7', '-7', '-5', '-5', '-2', '-2', '1', '3', '1', '2', '2', '-2', '-2', '-7', '-7', '-6', '-6', '-4', '-4', '-2', '-1', '-1', '2', '2', '-3', '-3', '-7', '-7', '-6', '-6', '-4', '-4', '-1', '1', '-1', '-2', '-2', '-3', '-3', '-8', '-8', '-8', '-8', '-7', '-7', '-5', '-3', '-4', '-4', '-4', '-6', '-6', '-10', '-10', '-10', '-10', '-8', '-8', '-5', '-4', '-5', '4', '4', '-1', '-1', '-5', '-5', '-4', '-4', '-2', '-2', '1', '2', '1', '-1', '-1', '-4', '-4', '-9', '-9', '-7', '-7', '-5', '-5', '-3', '-2', '-2', '-3', '-3', '-6', '-6', '-11', '-11', '-11', '-11', '-10', '-10', '-7', '-5', '-5', '2', '2', '-2', '-2', '-8', '-8', '-7', '-7', '-3', '-3', '-1', '0', '-1', '-2', '-2', '-4', '-4', '-9', '-9', '-8', '-8', '-7', '-7', '-5', '-3', '-3', '1', '1', '-2', '-2', '-7', '-7', '-6', '-6', '-5', '-5', '-3', '0', '-2', '6', '6', '0', '0', '-3', '-3', '-3', '-3', '0', '0', '2', '3', '2', '8', '8', '4', '4', '2', '2', '3', '3', '4', '4', '5', '6', '5', '10', '10', '4', '4', '0', '0', '2', '2', '3', '3', '5', '6', '5']

In [88]:
# tmx

tmxLists = []
li_tmxs = soup.select('body > location tmx')

for li in li_tmxs:
    tmxLists.append(li.string.strip())
    
print(tmxLists)

['4', '4', '-5', '-5', '-5', '-5', '-2', '-2', '1', '1', '2', '2', '2', '3', '3', '-6', '-6', '-5', '-5', '-2', '-2', '1', '1', '3', '3', '2', '5', '5', '-4', '-4', '-3', '-3', '-1', '-1', '2', '2', '4', '3', '3', '3', '3', '-6', '-6', '-5', '-5', '-3', '-3', '1', '1', '3', '2', '2', '5', '5', '-4', '-4', '-4', '-4', '-2', '-2', '1', '1', '4', '3', '2', '5', '5', '-5', '-5', '-4', '-4', '-2', '-2', '1', '1', '3', '3', '1', '4', '4', '-3', '-3', '-4', '-4', '-2', '-2', '0', '0', '1', '1', '1', '5', '5', '-2', '-2', '-4', '-4', '-2', '-2', '1', '1', '2', '2', '2', '8', '8', '3', '3', '0', '0', '1', '1', '5', '5', '7', '6', '5', '6', '6', '-2', '-2', '-3', '-3', '0', '0', '3', '3', '4', '4', '4', '6', '6', '-3', '-3', '-3', '-3', '-1', '-1', '3', '3', '4', '3', '2', '5', '5', '-5', '-5', '-4', '-4', '-1', '-1', '3', '3', '4', '3', '2', '5', '5', '-4', '-4', '-4', '-4', '-2', '-2', '2', '2', '4', '4', '3', '5', '5', '-4', '-4', '-5', '-5', '-2', '-2', '3', '3', '3', '3', '2', '7', '7', '-2', '-2', '-3', '-3', '0', '0', '5', '5', '5', '3', '2', '7', '7', '0', '0', '-1', '-1', '1', '1', '4', '4', '6', '6', '5', '7', '7', '0', '0', '1', '1', '2', '2', '6', '6', '8', '7', '6', '9', '9', '2', '2', '1', '1', '3', '3', '6', '6', '8', '8', '7', '10', '10', '1', '1', '1', '1', '2', '2', '6', '6', '8', '8', '5', '10', '10', '2', '2', '1', '1', '3', '3', '7', '7', '8', '9', '8', '7', '7', '-1', '-1', '-1', '-1', '1', '1', '5', '5', '7', '5', '4', '7', '7', '-1', '-1', '-1', '-1', '1', '1', '3', '3', '4', '4', '5', '6', '6', '-2', '-2', '-2', '-2', '1', '1', '2', '2', '4', '4', '4', '6', '6', '-1', '-1', '-2', '-2', '0', '0', '2', '2', '3', '4', '3', '7', '7', '-1', '-1', '-1', '-1', '2', '2', '3', '3', '4', '4', '3', '6', '6', '-1', '-1', '-1', '-1', '1', '1', '3', '3', '3', '5', '5', '6', '6', '-2', '-2', '-2', '-2', '1', '1', '2', '2', '3', '3', '2', '11', '11', '4', '4', '1', '1', '4', '4', '7', '7', '9', '9', '8', '10', '10', '2', '2', '-1', '-1', '3', '3', '6', '6', '8', '8', '8', '8', '8', '3', '3', '0', '0', '3', '3', '6', '6', '8', '8', '8', '9', '9', '3', '3', '1', '1', '3', '3', '7', '7', '9', '9', '8', '8', '8', '0', '0', '-2', '-2', '1', '1', '4', '4', '6', '6', '5', '10', '10', '4', '4', '2', '2', '4', '4', '7', '7', '9', '9', '8', '7', '7', '1', '1', '-1', '-1', '1', '1', '4', '4', '6', '6', '5', '7', '7', '-1', '-1', '-2', '-2', '-1', '-1', '3', '3', '4', '4', '4', '9', '9', '2', '2', '0', '0', '2', '2', '5', '5', '6', '7', '6', '8', '8', '-1', '-1', '-1', '-1', '1', '1', '3', '3', '5', '7', '6', '10', '10', '4', '4', '2', '2', '2', '2', '6', '6', '7', '7', '6', '8', '8', '1', '1', '0', '0', '1', '1', '5', '5', '6', '6', '5', '13', '13', '5', '5', '3', '3', '5', '5', '8', '8', '11', '10', '9', '15', '15', '6', '6', '5', '5', '7', '7', '10', '10', '11', '11', '10']

In [107]:
df = pd.DataFrame(data=cityLists, columns=['city'])
df['tmef'] = pd.Series(tmefLists)
df['wf'] = pd.Series(wfLists)
df['tmn'] = pd.Series(tmnLists)
df['tmx'] = pd.Series(tmxLists)

In [109]:
df

    city              tmef    wf  tmn tmx
0     서울  2021-12-24 00:00  구름많음   -1   4
1     서울  2021-12-24 12:00    흐림   -1   4
2     서울  2021-12-25 00:00    맑음   -9  -5
3     서울  2021-12-25 12:00    맑음   -9  -5
4     서울  2021-12-26 00:00    맑음  -13  -5
..   ...               ...   ...  ...  ..
528  서귀포  2021-12-28 00:00    흐림    3  10
529  서귀포  2021-12-28 12:00    흐림    3  10
530  서귀포  2021-12-29 00:00    흐림    5  11
531  서귀포  2021-12-30 00:00  구름많음    6  11
532  서귀포  2021-12-31 00:00    흐림    5  10

[533 rows x 5 columns]

In [110]:
# csv로 저장
df.to_csv("./Data/forecast.csv",sep=",",encoding='utf-8',index=False)

In [111]:
column = ['city',"tmef",'wf',"tmn",'tmx']
movies = pd.read_csv("./Data/forecast.csv")
movies.columns = column
movies.head()

  city              tmef    wf  tmn  tmx
0   서울  2021-12-24 00:00  구름많음   -1    4
1   서울  2021-12-24 12:00    흐림   -1    4
2   서울  2021-12-25 00:00    맑음   -9   -5
3   서울  2021-12-25 12:00    맑음   -9   -5
4   서울  2021-12-26 00:00    맑음  -13   -5

In [112]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/weather?",convert_unicode=True)
conn = engine.connect()

In [113]:
# dataframe --> table
movies.to_sql(name='forecast',con=engine,if_exists='append',index=False)

In [114]:
data = pd.read_sql_table('forecast',conn)
data

     seq city              tmef    wf  tmn  tmx
0      1   서울  2021-12-24 00:00  구름많음   -1    4
1      2   서울  2021-12-24 12:00    흐림   -1    4
2      3   서울  2021-12-25 00:00    맑음   -9   -5
3      4   서울  2021-12-25 12:00    맑음   -9   -5
4      5   서울  2021-12-26 00:00    맑음  -13   -5
..   ...  ...               ...   ...  ...  ...
528  529  서귀포  2021-12-28 00:00    흐림    3   10
529  530  서귀포  2021-12-28 12:00    흐림    3   10
530  531  서귀포  2021-12-29 00:00    흐림    5   11
531  532  서귀포  2021-12-30 00:00  구름많음    6   11
532  533  서귀포  2021-12-31 00:00    흐림    5   10

[533 rows x 6 columns]

In [115]:
conn.close()