## 리스트의 자료형 선언

In [2]:
var01 = []
var02 = [1,2,3]
var03 = ['I','have','a','dream']
var04 = [1,2,'Dream','True']
var05 = [1,2,['Dream','True']]

In [3]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'Dream', 'True']
[1, 2, ['Dream', 'True']]

In [7]:
var05[-1][0]
var05[2][0]

'Dream'

In [10]:
var = [1,2,['a','b',['Dream','True']]]
var[2][2][0]

'Dream'

# 리스트의 연산자

In [11]:
var01 = [1,2,3]
var02 = [4,5,6]
var01 +  var02

[1, 2, 3, 4, 5, 6]

In [14]:
for i in range(0,3):
    print(var01[i] + var02[i])

5
7
9

In [15]:
# 리스트의 곱셈 
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
# var01의 10씩 곱하기 
for i in range(0,3):
    print(var01[i] * 10)

10
20
30

In [20]:
for i in range(0,len(var01)):
    print(var01[i] * 10)

10
20
30

In [22]:
for i in var01:
    print(i * 10)

10
20
30

In [23]:
# 정수를 문자로 변환 
str(var01[2]) + 'hi'

'3hi'

# 리스트의 수정과 삭제

In [24]:
var = [1,2,3]
var[2] = 4 
var

[1, 2, 4]

In [26]:
var[1:2] = ['a','b','c']
var

[1, 'a', 'b', 'c', 4]

In [27]:
var[1] = ['a','b','c']
var

[1, ['a', 'b', 'c'], 'b', 'c', 4]

In [28]:
var[1:3]= []
var

[1, 'c', 4]

In [29]:
del var[1:]
var

[1]

# 리스트 관련 함수

In [31]:
# 리스트에 요소 추가 : 정수 
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [32]:
# 리스트에 요소 추가 : 리스트
var = [1,2,3]
var.append([5,6])
var

[1, 2, 3, [5, 6]]

In [36]:
# 리스트 정수 정렬 
var = [1,3,4,2]
print(var)
# 오름차순 
var.sort()
print(var)
# 내림차순
var.reverse()
print(var)

[1, 3, 4, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [37]:
# 리스트 문자 정렬 
var = ['a','c','b']
print(var)
# 오름차순 
var.sort()
print(var)
# 내림차순
var.reverse()
print(var)

['a', 'c', 'b']
['a', 'b', 'c']
['c', 'b', 'a']

In [38]:
# 리스트 한글 정렬 
var = ['대','민','국','한']
print(var)
# 오름차순 
var.sort()
print(var)
# 내림차순
var.reverse()
print(var)

['대', '민', '국', '한']
['국', '대', '민', '한']
['한', '민', '대', '국']

In [40]:
# 리스트의 정보 위치 
var = [4,5,6]
var.index(5)

1

In [43]:
# 리스트의 자료 삽입  
var = [4,5,6]
var.insert(0,7)
var

[7, 4, 5, 6]

In [44]:
# 리스트의 자료제거 
var = [10,20,30,40,50,60]
var.remove(40)
var

[10, 20, 30, 50, 60]

In [46]:
# 리스트에 요소 끄집어 내기
var = [1,2,3]
var.pop() # 리스트의 데이터 마지막 자료를 선택 후, 해당데이터는 삭제됨 
print(var)

[1, 2]

In [49]:
# for문을 사용한 pop
var = [1,2,3]
for i in range(0,3):
    print(var.pop())
print(var)

3
2
1
[]

In [52]:
# 리스트의 요소 갯수 세기 
var = [1,2,3,4,4]
var.count(4)
print(len(var))

5

In [54]:
# list의 확장 
var = [1,2,3,4]
var.extend([5,6])
var

[1, 2, 3, 4, 5, 6]